In [73]:
# Import dependencies

import pandas as pd
import matplotlib as plt
import scipy

In [53]:
# Import data and creat DataFrame

file_path = 'Resources/fastfood.csv'
fast_food_df = pd.read_csv(file_path)

fast_food_df.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2.0,0.0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17.0,1.5,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27.0,3.0,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10.0,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12.0,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other

In [54]:
# CLEAN DATA
# Update the 'salad' column to True if the substring 'salad' exists in the 'item' column
fast_food_df['salad'] = fast_food_df['item'].str.contains("salad", case=False)

# Drop kids menu items - dropped 4 items 
kids_index = fast_food_df[fast_food_df['item'].str.contains("kids", case=False)].index
fast_food_df = fast_food_df.drop(kids_index)

# Drop 'vit_a', 'vit_c', 'calcium' columns
fast_food_df = fast_food_df[['restaurant', 'item', 'calories', 'cal_fat', 'total_fat', 'sat_fat',
       'trans_fat', 'cholesterol', 'sodium', 'total_carb', 'fiber', 'sugar', 'protein', 'salad']]

fast_food_df = fast_food_df.reset_index(drop=True)
fast_food_df.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2.0,0.0,95,1110,44,3.0,11,37.0,False
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17.0,1.5,130,1580,62,2.0,18,46.0,False
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27.0,3.0,220,1920,63,3.0,18,70.0,False
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10.0,0.5,155,1940,62,2.0,18,55.0,False
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12.0,0.5,120,1980,81,4.0,18,46.0,False

In [72]:
# List and organize into desired columns 
fast_food_df.columns
fast_food_df_sorted = fast_food_df[["restaurant","item","calories", "total_fat", "sugar","sodium","protein"]]
df.head()

  restaurant  calories  total_fat  sugar  sodium  protein
0  Mcdonalds       380          7     11    1110     37.0
1  Mcdonalds       840         45     18    1580     46.0
2  Mcdonalds      1130         67     18    1920     70.0
3  Mcdonalds       750         31     18    1940     55.0
4  Mcdonalds       920         45     18    1980     46.0

In [ ]:
# Group by Restaurant Mins
fast_food_df_mins = fast_food_df_sorted.groupby('restaurant').min()
fast_food_df_mins

In [56]:
# Group by Restaurant Maxes
fast_food_df_max = fast_food_df_sorted.groupby('restaurant').max()
fast_food_df_max

,item,calories,total_fat,sugar,sodium,protein
restaurant,,,,,,
Arbys,Ultimate BLT,1030,59,23,3350,62.0
Burger King,WHOPPER w/o Cheese,1550,126,37,2310,134.0
Chick Fil-A,Spicy Grilled Chicken Sub Sandwich,970,47,12,3660,103.0
Dairy Queen,Turkey BLT Sandwich,1260,75,30,3500,49.0
Mcdonalds,Sweet BBQ Bacon 1/4 lb Burger,2430,141,87,6080,186.0
Sonic,Veggie Burger With Mustard,1350,100,17,4520,67.0
Subway,Veggie Delite Salad,1160,62,36,3540,78.0
Taco Bell,XXL Grilled Stuft Burrito - Steak,880,42,8,2260,37.0

In [58]:
# Sorting Max Calories 
max_cal = fast_food_df_max.sort_values(by=['calories'])
max_cal = fast_food_df_max[['item','calories']]
max_cal

                                           item  calories
restaurant
Arbys                              Ultimate BLT      1030
Burger King                  WHOPPER w/o Cheese      1550
Chick Fil-A  Spicy Grilled Chicken Sub Sandwich       970
Dairy Queen                 Turkey BLT Sandwich      1260
Mcdonalds         Sweet BBQ Bacon 1/4 lb Burger      2430
Sonic                Veggie Burger With Mustard      1350
Subway                      Veggie Delite Salad      1160
Taco Bell     XXL Grilled Stuft Burrito - Steak       880

In [60]:
# Sorting by Max Sugar
max_sug = fast_food_df_max.sort_values(by=['sugar'])
max_sug = fast_food_df_max[['item','sugar']]
max_sug

                                           item  sugar
restaurant
Arbys                              Ultimate BLT     23
Burger King                  WHOPPER w/o Cheese     37
Chick Fil-A  Spicy Grilled Chicken Sub Sandwich     12
Dairy Queen                 Turkey BLT Sandwich     30
Mcdonalds         Sweet BBQ Bacon 1/4 lb Burger     87
Sonic                Veggie Burger With Mustard     17
Subway                      Veggie Delite Salad     36
Taco Bell     XXL Grilled Stuft Burrito - Steak      8

In [61]:
# Sorting by Max Sodium 
max_sod = fast_food_df_max.sort_values(by=['sodium'])
max_sod = fast_food_df_max[['item','sodium']]
max_sod

                                           item  sodium
restaurant
Arbys                              Ultimate BLT    3350
Burger King                  WHOPPER w/o Cheese    2310
Chick Fil-A  Spicy Grilled Chicken Sub Sandwich    3660
Dairy Queen                 Turkey BLT Sandwich    3500
Mcdonalds         Sweet BBQ Bacon 1/4 lb Burger    6080
Sonic                Veggie Burger With Mustard    4520
Subway                      Veggie Delite Salad    3540
Taco Bell     XXL Grilled Stuft Burrito - Steak    2260

In [62]:
# Sorting by Max Fat
max_fat = fast_food_df_max.sort_values(by=['total_fat'])
max_fat = fast_food_df_max[['item','total_fat']]
max_fat

                                           item  total_fat
restaurant
Arbys                              Ultimate BLT         59
Burger King                  WHOPPER w/o Cheese        126
Chick Fil-A  Spicy Grilled Chicken Sub Sandwich         47
Dairy Queen                 Turkey BLT Sandwich         75
Mcdonalds         Sweet BBQ Bacon 1/4 lb Burger        141
Sonic                Veggie Burger With Mustard        100
Subway                      Veggie Delite Salad         62
Taco Bell     XXL Grilled Stuft Burrito - Steak         42

In [63]:
# Sorting by Max Protein 
max_prot = fast_food_df_max.sort_values(by=['protein'])
max_prot = fast_food_df_max[['item','protein']]
max_prot

                                           item  protein
restaurant
Arbys                              Ultimate BLT     62.0
Burger King                  WHOPPER w/o Cheese    134.0
Chick Fil-A  Spicy Grilled Chicken Sub Sandwich    103.0
Dairy Queen                 Turkey BLT Sandwich     49.0
Mcdonalds         Sweet BBQ Bacon 1/4 lb Burger    186.0
Sonic                Veggie Burger With Mustard     67.0
Subway                      Veggie Delite Salad     78.0
Taco Bell     XXL Grilled Stuft Burrito - Steak     37.0

In [66]:
# Group by Restaurant Mins
fast_food_df_mins = fast_food_df_sorted.groupby('restaurant').min()
fast_food_df_mins

# Sorting by Min Calories
min_cal = fast_food_df_mins.sort_values(by=['calories'])
min_cal = fast_food_df_mins[['item','calories']]
min_cal

                                             item  calories
restaurant
Arbys           2 piece Prime-Cut Chicken Tenders        70
Burger King              20 Piece Chicken Nuggets       190
Chick Fil-A                1 Piece Chick-n-Strips        70
Dairy Queen     1/2 lb. FlameThrower® GrillBurger        20
Mcdonalds              10 Piece Chicken McNuggets       140
Sonic        3 Piece Crispy Chicken Tender Dinner       100
Subway                                  6" B.L.T.        50
Taco Bell          1/2 lb.* Cheesy Potato Burrito       140

In [67]:
# Sorting by Min Sugar
min_sug = fast_food_df_mins.sort_values(by=['sugar'])
min_sug = fast_food_df_mins[['item','sugar']]
min_sug

                                             item  sugar
restaurant
Arbys           2 piece Prime-Cut Chicken Tenders      0
Burger King              20 Piece Chicken Nuggets      0
Chick Fil-A                1 Piece Chick-n-Strips      0
Dairy Queen     1/2 lb. FlameThrower® GrillBurger      0
Mcdonalds              10 Piece Chicken McNuggets      0
Sonic        3 Piece Crispy Chicken Tender Dinner      0
Subway                                  6" B.L.T.      3
Taco Bell          1/2 lb.* Cheesy Potato Burrito      1

In [68]:
# Sorting by Min Sodium 
min_sod = fast_food_df_mins.sort_values(by=['sodium'])
min_sod = fast_food_df_mins[['item','sodium']]
min_sod

                                             item  sodium
restaurant
Arbys           2 piece Prime-Cut Chicken Tenders     100
Burger King              20 Piece Chicken Nuggets     310
Chick Fil-A                1 Piece Chick-n-Strips     220
Dairy Queen     1/2 lb. FlameThrower® GrillBurger      15
Mcdonalds              10 Piece Chicken McNuggets      20
Sonic        3 Piece Crispy Chicken Tender Dinner     470
Subway                                  6" B.L.T.      65
Taco Bell          1/2 lb.* Cheesy Potato Burrito     290

In [69]:
# Sorting by Min Fat
min_fat = fast_food_df_mins.sort_values(by=['total_fat'])
min_fat = fast_food_df_mins[['item','total_fat']]
min_fat

                                             item  total_fat
restaurant
Arbys           2 piece Prime-Cut Chicken Tenders          5
Burger King              20 Piece Chicken Nuggets         10
Chick Fil-A                1 Piece Chick-n-Strips          2
Dairy Queen     1/2 lb. FlameThrower® GrillBurger          0
Mcdonalds              10 Piece Chicken McNuggets          5
Sonic        3 Piece Crispy Chicken Tender Dinner         11
Subway                                  6" B.L.T.          1
Taco Bell          1/2 lb.* Cheesy Potato Burrito          4

In [70]:
# Sorting by Min Protein 
min_prot = fast_food_df_mins.sort_values(by=['protein'])
min_prot = fast_food_df_mins[['item','protein']]
min_prot

                                             item  protein
restaurant
Arbys           2 piece Prime-Cut Chicken Tenders      5.0
Burger King              20 Piece Chicken Nuggets      5.0
Chick Fil-A                1 Piece Chick-n-Strips     11.0
Dairy Queen     1/2 lb. FlameThrower® GrillBurger      1.0
Mcdonalds              10 Piece Chicken McNuggets      7.0
Sonic        3 Piece Crispy Chicken Tender Dinner      6.0
Subway                                  6" B.L.T.      3.0
Taco Bell          1/2 lb.* Cheesy Potato Burrito      6.0

In [ ]:
# Sorting by average